@import 'nib'

@font-face
  font-family 'Droid Sans Mono'
  font-style normal
  font-weight normal
  src local('Droid Sans Mono'), local('DroidSansMono'), url('http://themes.googleusercontent.com/font?kit=ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4') format('woff')

#alpha_tag
  z-index 10
  font-size 10px
  fixed top 2.5em left -3.75em
  background-color #FFAA00
  padding 1px 0
  overflow hidden
  transform rotate(-45deg)
  box-shadow 1px 1px 3px rgba(0, 0, 0, 0.3)

#alpha_tag span
  font-family 'Droid Sans Mono'
  color #A66F00
  border 1px solid #FFBF40
  display block
  margin 0.05em 0
  padding 0.5em 3.5em
  text-align center
  text-decoration none

