@import 'nib'

@font-face
  font-family 'GTramontina'
  src url('GTramontina.ttf')

body
  background-image url('../images/index.texture.png')
  font-family 'GTramontina'
  font-size 1.8em

a
  text-decoration none
  color blue

#info
  background-image url('../images/grid.gif')
  background-color white
  display block
  margin-left auto
  margin-right auto
  width 600px
  border rgba(0, 0, 0, 0.8) solid 1px
  padding 15px
  box-shadow 0 0 10px rgba(0, 0, 0, 0.9)

h1
  text-align center

form
  text-align right
  input
    font-family "lucida grande", sans-serif
    font-size 11px
    border rgba(0, 0, 0, 0.5) solid 1px

#submit
  download-button(green)

#footer
  text-align right
  font-family "lucida grande", sans-serif
  font-size 11px

#marker
  position absolute
  top 470px
  background-image url('../images/index.marker.png')
  width 333px
  height 130px