# Node.js Modules
node_modules/

# Compiled css and js (from and stylus and coffeescript)
lib/public/stylesheets/*.css
lib/public/javascripts/*.js

# Node.js monitor module
nodemon-ignore
.monitor

# Nodester Config
.nodester.appconfig

# Redcar folder
.redcar

# Temporary files
*.swp

