#about
  link(rel='stylesheet', href='/stylesheets/about.css')
  script(src='/javascripts/about-page.js')
  #overlay
  #box
    h1 Writeboard.it!
    span
      | Add a brief description about the purpose of
      | this application, and explain the (simple) usage :-)
    #social-bar
      img.tweet-it
      img.about-me

