#about
  link(rel='stylesheet', href='/stylesheets/about.css')
  script(src='/javascripts/about-page.js')
  #overlay
  #box
    h1 Writeboard.it!
    p
      | The initial thought when writing this app was to have a whiteboard for
      | distributed teams, but you can use it for whatever purpose you want.

    h2 Tips
    ul
      li You can use it with a Wiimote Whiteboard and an IR pen.
      li Use it with a Wiimote Whiteboard! :-)
      li Press F11 (usually) to use it fullscreen
      li You can have custom room names by simply accessing writeboard.it/my_room

    h2 Roadmap
    ul
      li Keep drawings in the room so that new attendees can see what's been drawn so far.
      li Make password-protected private rooms, so you can have a safe meeting.
      li Add 'Save as... PNG/JPEG' option, for emailing the board to the attendees.
      li (...)

