!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(src='http://code.jquery.com/jquery-1.6.min.js')
    script(src='/javascripts/lib/google.analytics.js')
  body!= body

