link(rel='stylesheet', href='/stylesheets/alpha_tag.css')
#alpha_tag
  span Alphα Version

link(rel='stylesheet', href='/stylesheets/writeboard.css')
script(src='/nowjs/now.js')
script(src='/javascripts/writeboard.js')
script(src='/javascripts/writeboard-page.js')
room(id=roomId)

#toolbar
  .eye(title='People Watching')
  .lock(title='Make it private...')
  .help(title='Help!')

canvas#writeboard

