link(rel='stylesheet', href='/stylesheets/alpha_tag.css')
#alpha_tag
  span Alphα Version

link(rel='stylesheet', href='/stylesheets/writeboard.css')
script(src='/nowjs/now.js')
script(src='/javascripts/writeboard.js')
script(src='/javascripts/writeboard-page.js')
room(id=roomId)

#loading-message
  span

#toolbar
  .eye(title='People Watching')
  .lock(title='Make it private...')
  .help(title='Help!')

#markers
  .black(title='Black', data-color='black')
  .blue.shut(title='Blue', data-color='blue')
  .red.shut(title='Red', data-color='red')
  .green.shut(title='Green', data-color='green')

canvas#writeboard

