@font-face
  font-family Droid Sans Mono
  font-style normal
  font-weight normal
  src local(Droid Sans Mono), local(DroidSansMono), url(http://themes.googleusercontent.com/font?kit=ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4) format(woff)

html, body
  font-family Droid Sans Mono
  margin 0
  padding 0
  height 100%

