@import 'nib'

$loading-message-border-radius = 25px
@keyframes moving-border
  from
    border-top-left-radius $loading-message-border-radius
    border-top-right-radius 0
    border-bottom-right-radius $loading-message-border-radius
    border-bottom-left-radius 0
  50%
    border-top-left-radius 0
    border-top-right-radius $loading-message-border-radius
    border-bottom-right-radius 0
    border-bottom-left-radius $loading-message-border-radius
  to
    border-top-left-radius $loading-message-border-radius
    border-top-right-radius 0
    border-bottom-right-radius $loading-message-border-radius
    border-bottom-left-radius 0

div#loading-message
  display none
  z-index 1000
  fixed top left
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.3)
  text-align center
  span
    relative
    box-shadow 0 0 14px rgba(0, 0, 0, 0.5)
    border 1px solid rgb(80, 80, 80)
    background-color rgb(100, 100, 100)
    color white
    font-weight bold
    padding 25px
    display inline-block
    margin-top 25px
    border-top-left-radius $loading-message-border-radius
    border-bottom-right-radius $loading-message-border-radius
    -webkit-animation-name moving-border
    -webkit-animation-duration 2s
    -webkit-animation-iteration-count infinite

#writeboard
  background-image url('../images/grid.gif')
  absolute top left
  cursor crosshair

#toolbar
  background-color rgba(0, 0, 0, 0.05)
  border-bottom-left-radius 10px
  fixed top right
  padding 4px
  z-index 10

  $icon-size = 16px
  sprite(x, y)
    background-position x y
    width $icon-size
    height $icon-size
    opacity 0.3
    &:hover
      opacity 1
      cursor pointer

  div
    background url('../images/icons.png') no-repeat
    margin 1px
    float left
  .help
    sprite 0, -32px
  .lock
    sprite 0, -16px
  .eye
    sprite 0, -48px
    padding-left $icon-size
    text-align center
    line-height $icon-size

