@import 'nib'

#writeboard
  background-image url('../images/grid.gif')
  absolute top left
  cursor crosshair

#toolbar
  background-color rgba(0, 0, 0, 0.05)
  border-bottom-left-radius 10px
  fixed top right
  padding 4px
  z-index 10

  $icon-size = 16px
  sprite(x, y)
    background-position x y
    width $icon-size
    height $icon-size
    opacity 0.3
    &:hover
      opacity 1
      cursor pointer

  div
    background url('../images/icons.png') no-repeat
    margin 1px
    float left
  .help
    sprite 0, -32px
  .lock
    sprite 0, -16px
  .eye
    sprite 0, -48px
    padding-left $icon-size
    text-align center
    line-height $icon-size

